.container{
  text-transform: uppercase;
  text-align: center;
  margin: 0 auto;
  width: 960px;
}
.clearfix:after{
  content: "";
  display: table;
  clear: both;
}
.gray{
  color: #aba9a7;
}
.main_header>ul>li{
  display: inline;
  padding: 50px;
}
.description{
  margin-top: -500px;
  float: right;
  width: 600px;
  background-color: green;
}
.set{
  clear: both;
  margin-top: -350px;
  float:right;
  width: 600px;
  background-color: blue;
}
.breadcrumbs>ul>li{
  display: inline;
  padding: 50px;
}

.big_picture{
  float: left;
  background-color: red;
  width: 500px;
}

.small_picture_1{
  clear: both;
  float: left;
  width: 200px;
  background-color: green;
}
.small_picture_2{
  float: left;
  width: 200px;
  background-color: green;
}
.small_picture_3{
  float: left;
  width: 200px;
  background-color: green;
}
.main_footer{
  clear: both;
  color: white;
  background-color: yellow;
}
.footer_contacts{
  float: left;
  width: 500px;
  background-color: red;
}
.footer_social{
  float: left;
  width: 300px;
  background-color: blue;
}
.footer_copyright{
  float: left;
  width: 500px;
  background-color: green;
}
/*CSS для каталога*/
.breadcrumbs{
  float: left;
}
h1{
  text-align: left;
}
.breadcrumbs>ul>li{
  display: inline;
}
.product{
  text-align: left;
  float: left;
  width: 30%;
  background-color: blue;
}
.products{
  float: left;
  width: 70%;
  background-color: yellow;
}

.product_set_baxter, .product_conditioner_baxter, .product_gel_suavecito{
  float: left;
  width: 33%;
  height: 300px;
}
.product_clay_ac, .product_gel_ac, .product_shaving_kit_baxte{
  float: left;
  width: 33%;
}

.pages{
  background-color: green;
  margin-top: 600px;
}
.pages>ul>li{
  display: inline;
  padding: 50px;
  clear: both;
}
.main_footer{
  width: 960px;
}
.footer_contacts{
  float: left;
  width: 33.33%;
}
.footer_social{
  float: left;
  width: 33.33%;
}
.social_btn_vk, .social_btn_fb, .social_btn_inst{
  float: right;;
  background-color: #81b3d2;
  width: 33.33%;
}
.footer_copyright{
  float: right;
  width: 33.33%;
}
