body{
  text-transform: uppercase;
}
h1{
  font-weight: bold;
}
.gray{
  color: #aba9a7;
}
.main_header>ul>li{
  display: inline;
  padding: 50px;
}
.description{
  margin-top: -500px;
  float: right;
  width: 600px;
  background-color: green;
}
.set{
  clear: both;
  margin-top: -350px;
  float:right;
  width: 600px;
  background-color: blue;
}
.breadcrumbs>ul>li{
  display: inline;
  padding: 50px;
}

.big_picture{
  float: left;
  background-color: red;
  width: 500px;
}

.small_picture_1{
  clear: both;
  float: left;
  width: 200px;
  background-color: green;
}
.small_picture_2{
  float: left;
  width: 200px;
  background-color: green;
}
.small_picture_3{
  float: left;
  width: 200px;
  background-color: green;
}
.main_footer{
  clear: both;
  color: white;
  background-color: yellow;
}
.footer_contacts{
  float: left;
  width: 500px;
  background-color: red;
}
.footer_social{
  float: left;
  width: 300px;
  background-color: blue;
}
.footer_copyright{
  float: left;
  width: 500px;
  background-color: green;
}
/*CSS для каталога*/
.main_header>ul>li{
  display: inline;
  padding: 50px;
}
.breadcrumbs>ul>li{
  display: inline;
  padding: 50px;
}
.gray{
  color: #aba9a7;
}
.product{
  float: left;
  width: 200px;
  background-color: yellow;
}
.product_set_baxter{
  float: left;
  width: 250px;
  padding-left: 50px;
  background-color: red;
}
.product_conditioner_baxter{
  float: left;
  width: 250px;
  padding-left: 50px;
  background-color: blue;
}
.product_gel_Suavecito{
  float: left;
  width: 250px;
  padding-left: 50px;
  background-color: red;
}
.product_clay_AC{
  float: left;
  width: 250px;
  padding-left: 50px;
  background-color: blue;
}
.product_gel_AC{
    float: left;
    width:250px;
    padding-left: 50px;
    background-color: red;
}
.product_shaving_kit_baxter{
  float: left;
  width: 200px;
  padding-left: 50px;
  background-color: blue;
}
.pages{
  background-color: green;
  margin-top: 600px;
}
.pages>ul>li{
  display: inline;
  padding: 50px;
  clear: both;
}
.main_footer{
  clear: both;
}
